<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SchoolCircle</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>NewsServlet</servlet-name>
  	<servlet-class>com.oracle.servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NewsServlet</servlet-name>
  	<url-pattern>/NewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SNewsServlet</servlet-name>
  	<servlet-class>com.oracle.servlet.SNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SNewsServlet</servlet-name>
  	<url-pattern>/SNewsServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>SCOTypeServlet</servlet-name>
  	<servlet-class>com.oracle.servlet.SCOTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SCOTypeServlet</servlet-name>
  	<url-pattern>/SCOTypeServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>ContentsServlet</servlet-name>
  	<servlet-class>com.oracle.servlet.ContentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ContentsServlet</servlet-name>
  	<url-pattern>/ContentsServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<servlet-class>com.oracle.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.oracle.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SContentServlet</servlet-name>
  	<servlet-class>com.oracle.servlet.SContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SContentServlet</servlet-name>
  	<url-pattern>/SContentServlet</url-pattern>
  </servlet-mapping>
  <listener>
  	<listener-class>com.oracle.listener.MQTTServerListener</listener-class>
  </listener>
  <servlet>
  	<servlet-name>MsgChatServlet</servlet-name>
  	<servlet-class>com.oracle.servlet.MsgChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MsgChatServlet</servlet-name>
  	<url-pattern>/MsgChatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>SAllFriendChatLastServlet</servlet-name>
  	<servlet-class>com.oracle.servlet.SAllFriendChatLastServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SAllFriendChatLastServlet</servlet-name>
  	<url-pattern>/SAllFriendChatLastServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>GetChattomgRecordsServlet</servlet-name>
  	<servlet-class>com.oracle.servlet.GetChattomgRecordsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetChattomgRecordsServlet</servlet-name>
  	<url-pattern>/GetChattomgRecordsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AddFriendServlet</servlet-name>
  	<servlet-class>com.oracle.servlet.AddFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddFriendServlet</servlet-name>
  	<url-pattern>/AddFriendServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>MsgVoiceChatServlet</servlet-name>
  	<servlet-class>com.oracle.servlet.MsgVoiceChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MsgVoiceChatServlet</servlet-name>
  	<url-pattern>/MsgVoiceChatServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<servlet-class>com.oracle.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UserImgServlet</servlet-name>
  	<servlet-class>com.oracle.servlet.UserImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserImgServlet</servlet-name>
  	<url-pattern>/UserImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>UserInfoServlet</servlet-name>
  	<servlet-class>com.oracle.servlet.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserInfoServlet</servlet-name>
  	<url-pattern>/UserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ContentCommentServlet</servlet-name>
  	<servlet-class>com.oracle.servlet.ContentCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ContentCommentServlet</servlet-name>
  	<url-pattern>/ContentCommentServlet</url-pattern>
  </servlet-mapping>
</web-app>